@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div>
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            <div>
                <fieldset>
                    <legend>Login</legend>
                    User:
                    <input type="text" name="username" />
                    Password :
                    <input type="password" name="password" />

                    <input type="submit" value="Login" />
                </fieldset>
            </div>
        }
    </div>
