@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div>
        @using (Html.BeginForm("Register", "Account", FormMethod.Post))
        {
            <div>
                <fieldset>
                    <legend>Register</legend>
                    User:
                    <input type="text" name="username" />
                    Password :
                    <input type="password" name="password" />
                    Display Name :
                    <input type="text" name="displayname" />
                    Country :
                    <input type="text" name="country" />

                    <input type="submit" value="Register" />
                </fieldset>
            </div>
        }
    </div>
